<div>
<div class="container_geral">
  <div class="container_cards">
    <div *ngFor="let servico of servicos | async" class="card">
      <h2>{{ servico.nome }}</h2>
      <div class="container_detalhes">
        <div>
            <div class="label">Tempo</div>
            {{ servico.tempoServico }} min
        </div>
        <div>
            <div class="label">Valor</div>
            {{ servico.valor | currency:'BRL' }}
        </div>
      </div>
    </div>
  </div>
</div>

    

    <button mat-mini-fab color="primary" class="btn_add" (click)="abrirCadastroServico()">
        <mat-icon>add</mat-icon>
    </button>
        
    
</div>