<div class="container_homepage">
  <header>

    <div class="container_header">
        <img src="assets/images/logo.jpeg" alt="logo" class="img-fluid rounded-circle">
    </div>
    <!--div class="container_header">
        <ul>
            <li><a href="">Serviços</a></li>
            <li><a href="">Localização</a></li>
            <li><a href="">Agendar</a></li>
        </ul>
    </div-->
  </header>



  <div class="container container_body">
    <div class="container_carousel">
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExample" data-slide-to="1"></li>
              <li data-target="#carouselExample" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
                  <h3 style="color: white;">Primeiro Slide</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px; ">
                  <h3 style="color: white;">Segundo Slide</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px; ">
                  <h3 style="color: white;">Terceiro Slide</h3>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>
    </div>


    <div class="container_interno">
        <h4>Serviços</h4>
        <div class="container_info">
            <ul>
                <li class="title_list">Cortes</li>
                <li class="item-comum">
                    <p>Corte Degradê</p>
                    <p>R$ 35,00</p>
                </li>
                <li class="item-comum">
                    <p>Corte Simples</p>
                    <p>R$ 30,00</p>
                </li>
                <li class="item-comum">
                    <p>Corte Maquina</p>
                    <p>R$ 25,00</p>
                </li>

                <li class="title_list">Barbas</li>
                <li class="item-comum">
                    <p>Barba Desenhada</p>
                    <p>R$ 30,00</p>
                </li>
                <li class="item-comum">
                    <p>Barba Simples</p>
                    <p>R$ 25,00</p>
                </li>
                <li class="item-comum">
                    <p>Remoção</p>
                    <p>R$ 20,00</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container_interno">
        <h4>Localização</h4>
        <div class="container-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1293.128639319643!2d-46.779040370200555!3d-23.549756295832793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ceff7072fceb57%3A0xf8461f110be53df6!2sAv.%20Monte%20Ararat%2C%2057%20-%20Bela%20Vista%2C%20Osasco%20-%20SP%2C%2006070-170!5e0!3m2!1spt-BR!2sbr!4v1724892626040!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="container_btn">
        <a href="novo-agendamento" class="container_btn_fixed btn ">
            <i class="material-icons">edit_calendar</i>
            <span>Agendar Horário</span>
        </a>
    </div>
  </div>

</div>
