<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu"  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="alterarTituloToolbar('Servicos')">
      <mat-icon>content_cut</mat-icon>
      <span>Servicos</span>
    </button>
    <button mat-menu-item (click)="alterarTituloToolbar('Clientes')">
      <mat-icon>groups</mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-menu-item (click)="alterarTituloToolbar('Cabeleireiros')">
      <mat-icon>person</mat-icon>
      <span>Cabeleireiros</span>
    </button>
    <button  routerLink="agendamentos" mat-menu-item (click)="alterarTituloToolbar('Agendamento')">
      <mat-icon>calendar_month</mat-icon>
      <span>Agendamentos</span>
    </button>

  </mat-menu>
  <span routerLink="/">{{titulo}}</span>
</mat-toolbar>


<router-outlet></router-outlet>
