<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu"  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button  routerLink="agendamentos" mat-menu-item (click)="alterarTituloToolbar('Agendamento')">
      <mat-icon style="color: blue;">calendar_month</mat-icon>
      <span>Agenda</span>
    </button>
    <button mat-menu-item (click)="alterarTituloToolbar('Servicos')">
      <mat-icon>content_cut</mat-icon>
      <span>Servicos</span>
    </button>
    <button mat-menu-item (click)="alterarTituloToolbar('Cortes Fixos')">
      <mat-icon style="color: green;">event_available</mat-icon>
      <span>Cortes Fixos</span>
    </button>
    <button mat-menu-item  routerLink="minha-conta" (click)="alterarTituloToolbar('Meu Perfil')">
      <mat-icon style="color: blue;">person</mat-icon>
      <span>Meu Perfil</span>
    </button>
    

  </mat-menu>
  <span routerLink="/">{{titulo}}</span>
</mat-toolbar>


<router-outlet></router-outlet>
