<div class="containerSuperior">
  <h2>{{diaSemana}}</h2>
  <mat-form-field class="containerInputDate">
    <input matInput  [matDatepicker]="picker" placeholder="Escolha uma data"
      (dateChange)="updateDayOfWeek($event.value)" [value]="dataAgenda">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div class="containerInferior" *ngFor="let agendamento of agendamentos | async">
  <mat-card>
    <mat-card-content>
      <h3>
        <mat-icon *ngIf="agendamento.fixo" class="icon-fixo" aria-label="Agendamento fixo">push_pin</mat-icon>
        {{format_horario(agendamento.horaAgendamento)}} - {{agendamento.nomeCliente}}</h3>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menuSuperior" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuSuperior="matMenu">
          <button mat-menu-item>
            <mat-icon  class="icone-confirmar">done</mat-icon>
            <span>Concluir</span>
          </button>
          <button mat-menu-item>
            <mat-icon class="icone-agendar">calendar_month</mat-icon>
            <span>Reagendar</span>
          </button>
          <button mat-menu-item>
            <mat-icon  class="icone-cancelar">close</mat-icon>
            <span>Cancelar</span>
          </button>
        </mat-menu>
      </div>
    </mat-card-content>
    <div class="containerInfoCardAgendamento">
      <div class="container-info">
        <div class="containerListServiosAgendados" >
          <div *ngFor="let servico of agendamento.servicos">
            <mat-icon>content_cut</mat-icon>
            <span>{{servico.nome}}</span>
          </div>
        </div>

        <div class="containerListServiosAgendados time-money">
          <div>
            <mat-icon>schedule</mat-icon>
            <span>{{agendamento.tempoServico}} min</span>
          </div>
          <div>
            <mat-icon>attach_money</mat-icon>
            <span>{{agendamento.valor}},00</span>
          </div>
        </div>
      </div>

      <div>
        <div>
          <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>call</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>


</div>
