.containerSuperior{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.containerInputDate{
  margin-left: 15px;
  min-width: 170px;
  padding: 5px 10px 0px 0px;
}

.containerSuperior h2{
  min-width: 40%;
  text-align: center;
  padding: 2px;
}

mat-card-content h3{
  font-weight: 600;
}
.containerInfoCardAgendamento{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerInfoCardAgendamento .containerListServiosAgendados div{
  display: flex;
  justify-content: start;
  margin-top: 3px;
 }

.containerInfoCardAgendamento .containerListServiosAgendados div span{
  margin-left: 3px;
}

.containerInfoCardAgendamento .containerListServiosAgendados div mat-icon{
  font-size: large;
}

.container-info{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.time-money div{
  display: flex;
  align-items: center;

}

mat-card{
  background-color: rgb(247, 244, 244);
  margin-bottom: 10px;
}

mat-card-content{
  display: flex;
  justify-content: space-between;
}


mat-card-content div{
  margin-top: -8px;

}

.icone-agendar{
  color: rgb(9, 9, 247);
}
.icone-confirmar{
  color: green;
}
.icone-cancelar{
  color: red;
}


